<article class="modal-film-card">
    <button type="button" class="modal__close-button" data-modal-close>
        <svg class="close-button"> 
            <use href="../images/sprite.svg#icon-close"> </use>
        </svg>
    </button>
    <div class="modal__card-wrapper">
      <div class="modal__poster-wrapper">
        <img class='modal__poster'src="https://image.tmdb.org/t/p/original{{poster_path}}" alt="{{title}}">
      </div>
      <div class="modal__info-wrapper">
        <h2 class="modal__film-title upper-case">{{title}}</h2>
        <ul class="modal__info-list list">
          <li class="modal__info-list-item">
            <p class="modal__info-list-category">Vote / Votes</p>
            <div class="modal__info-list-data">
              <span class="modal__info-list-data-va">{{vote_average}}</span> 
              <span class="line">/</span> 
              <span class="modal__info-list-data-vc">{{vote_count}}</span>
            </div>
          </li>
          <li class="modal__info-list-item">
            <p class="modal__info-list-category">Popularity</p>
            <div class="modal__info-list-data">{{popularity}}</div>
          </li>
          <li class="modal__info-list-item">
            <p class="modal__info-list-category">Original Title</p>
            <div class="modal__info-list-data upper-case">{{original_title}}</div>
          </li>
          <li class="modal__info-list-item">
            <p class="modal__info-list-category">Genre</p>
            <div class="modal__info-list-data genre-list">
            {{#each genres}}
            {{this.name }}
            {{/each}} 
            </div>

          </li>
        </ul>
        <div class="modal__description">
          <h3 class="modal__description-header">ABOUT</h3>
          <p class="modal__description-content">{{overview}}</p>
        </div>
        <div class="modal__buttons-wrapper">
          <button class="modal__btn add-to-watched-btn" type="button">ADD TO WATCHED</button>
          <button class="modal__btn add-to-queue-btn" type="button">ADD TO QUEUE</button>
        </div>
      </div>

        
    </div>
</article>