<article class="modal-film-card">
  <button type="button" class="close-button">
    <svg class="close-button__svg" xmlns="http://www.w3.org/2000/svg" width="30" height="30">
      <path fill="none" stroke-width="2.133" stroke="#000" d="M8.533 8.533l14.933 14.933M8.533 23.467L23.466 8.534" />
    </svg>
  </button>
  <div class="modal__card-wrapper">
    <div class="modal__poster-wrapper">
      <img class='modal__poster' src={{this.poster_path}} alt=" {{this.title}}">
    </div>
    <div class="modal__info-wrapper">
      <h2 class="modal__film-title title upper-case">{{this.title}}</h2>
      <ul class="modal__info-list list">
        <li class="modal__info-list-item">
          <p class="modal__info-list-category">Vote / Votes</p>
          <div class="modal__info-list-data">
            <span class="modal__info-list-data-va">{{this.vote_average}}</span>
            <span class="line">/</span>
            <span class="modal__info-list-data-vc">{{this.vote_count}}</span>
          </div>
        </li>
        <li class="modal__info-list-item">
          <p class="modal__info-list-category">Popularity</p>
          <div class="modal__info-list-data">{{this.popularity}}</div>
        </li>
        <li class="modal__info-list-item">
          <p class="modal__info-list-category">Original Title</p>
          <div class="modal__info-list-data orig-title upper-case">{{this.original_title}}</div>
        </li>
        <li class="modal__info-list-item">
          <p class="modal__info-list-category">Genre</p>
        <p class="film-card__genres">
            {{#each this.genres}}
            <span class="film-card__genre">{{this.name}}</span>
            {{/each}}
        </p>

        </li>
      </ul>
      <div class="modal__description">
        <h3 class="modal__description-header">ABOUT</h3>
        <p class="modal__description-content">{{this.overview}}</p>
      </div>
      <div class="modal__buttons-wrapper">
        <button class="modal__btn add-to-watched-btn" type="button">ADD TO WATCHED</button>
        <button class="modal__btn add-to-queue-btn" type="button">ADD TO QUEUE</button>
        <a class="trailer-link" href="">WATCH THE TRAILER ON YOUTUBE</a>
      </div>
      <div class="player-container">
        
      </div>
    </div>


 



  </div>
</article>